:root {
    --text-color: #333333;
    --bg-color-input: #FFFFFF;
    --bg-color-button: #c3cd2d;
    --bg-root: #FFFFFF url(bg-diagonal-shapes.svg) no-repeat center top;
    --line-color: #CCCCCC;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #FFFFFF;
        --bg-color-input: #222222;
        --bg-color-button: #333333;
        --bg-root: #222222;
        --line-color: #444444;
    }
}

* {
    font-family: "Roboto","Helvetica Neue",sans-serif;
    font-size: 1em;
    color: var(--text-color);
}

html {
    background: var(--bg-root);
}

a:link, a:visited {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--text-color);
}

a:hover, a:active, a:focus {
    border-bottom: 1px solid var(--text-color);
}

body {
    padding: 0 5em;
    max-width: 1280px;
    margin: 0 auto 4em;
}

#logo {
    width: 270px;
    margin: 60px 0 50px;
}
h1 {
    font-size: 2em;
    padding-top: 1em;
    font-weight: bold;
    border-top: 1px solid var(--line-color);
}

input, textarea, .button {
    border: 1px solid var(--line-color);
    padding: 17px 10px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 2px;
}

input[type=submit], .button {
    cursor: pointer;
    margin-top: 10px;
    padding: 11px 29px 13px;
    background-color: var(--bg-color-button);
}

input[type=text] {
    width: 100%;
    background-color: var(--bg-color-input);
}

textarea {
    width: 100%;
    min-height: 10em;
    line-height: 1.2em;
    background-color: var(--bg-color-input);
}

@media screen and (max-width: 800px) {
    html {
        background: none;
    }
}
